<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EsieaBoard"
        tools:targetApi="31" >
        <activity
            android:name=".EditEventActivity"
            android:exported="false"
            android:parentActivityName=".EventPageActivity"/>
        <activity
            android:name=".EditClubActivity"
            android:exported="false"
            android:parentActivityName=".ClubProfileActivity"/>
        <activity
            android:name=".EditUserActivity"
            android:exported="false"
            android:parentActivityName=".UserProfileActivity"/>
        <activity
            android:name=".ManageClubsAdminActivity"
            android:exported="false"
            android:parentActivityName=".EsieaBoardActivity"/>
        <activity
            android:name=".NewEventActivity"
            android:exported="false"
            android:parentActivityName=".EventPageActivity"/>
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".EventPageActivity"
            android:exported="false"
            android:parentActivityName=".EsieaBoardActivity"/>
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:parentActivityName=".EsieaBoardActivity"/>
        <activity
            android:name=".ClubProfileActivity"
            android:exported="false"
            android:parentActivityName=".EsieaBoardActivity"/>
        <activity
            android:name=".LogInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EsieaBoardActivity"
            android:exported="false" />
    </application>

</manifest>